#incorporations-application {
  margin: 30px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;

  .application-summary {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    .proposed-name {
      font-size: 1.5rem;
      font-weight: 600;
      letter-spacing: 0.1pt;

      .name-approved {
        color: var(--bs-icompany-green);
        font-size: 1.1rem;
      }
    }

    .summary-item {
      .summary-item-title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .summary-item-content {
        //
      }
    }
  }

  .human-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;

    .human-detail {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 3px;
    }
  }

  .application-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 20px;

    .services-service-application {
      width: calc(65% - 10px);
    }

    .document-display {
      width: calc(35% - 10px);

      .resolution-steps {
        margin-top: 0;
      }
    }
  }
}