.annual-return-document {
  position: relative;
  width: 100%;
  max-width: 153px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .checkbox {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
  }

  .pdf-canvas {
    width: 100%;
    max-width: 153px;
    min-height: 210px;
    background-color: var(--bs-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .placeholder {
      position: relative;
      width: calc(100% - 15px);
      height: 100%;
      min-height: 210px;
      background-color: rgba(0, 0, 0, 0.7);
      font-size: 1.9rem;
      font-weight: 600;
      color: var(--bs-white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left;
      line-height: 1.2;
      padding-left: 15px;

      .retract-button {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
      }

      &.purchase {
        color: var(--bs-icompany-orange);
      }
    }
  }

  .name {
    width: 100%;
    max-width: 153px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    text-align: center;
    font-weight: 600;
    color: var(--sdn-bhd-documents-name-color);
  }
}
