.search-result-system {
  .loader-wrapper {
    margin-top: 30px;
    color: var(--bs-gray-600);

    .loader-notice {
      .loader-label {
        color: var(--bs-gray-600);
      }
      .loader-sublabel {
        color: var(--bs-gray-700);
      }
      .loader-dots {
        color: var(--bs-gray-600);
      }
    }
  }

  .result-header {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    align-items: center;

    .result-badge {
      background-color: var(--bs-primary);
      color: var(--bs-white);
      padding: 5px 10px;
      font-size: 0.8rem;
      border-radius: 15px;
      width: fit-content;
      min-width: 75px;
      text-align: center;
    }

    .result-count {
      color: var(--bs-gray-600);
      font-size: 0.8rem;
    }
  }

  .results-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    max-height: calc(70dvh - 350px);
    overflow: auto;
  }

  .pagination-container {
    margin-top: 15px;
    text-align: center;

    .arrow-pagination {
      display: inline-flex;
      align-items: center;
      gap: 20px;

      .arrow-left,
      .arrow-right {
        cursor: pointer;

        &.disabled {
          cursor: not-allowed;
          opacity: 0.5;
        }
      }
    }
  }
}
