.header-search-bar {
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;

  .search-content {
    position: fixed;
    z-index: 2;
    top: 35px;
    left: 50%;
    min-width: 0px;
    width: 430px;
    max-width: 430px;
    transform: translateX(-50%);
    transition: all 1.5s ease-in-out;

    .search-option-buttons {
      display: flex;
      gap: 5px;
      max-height: 0px;
      overflow: hidden;
      user-select: none;
      pointer-events: none;
      transition: all 1.5s ease-in-out;
      max-width: 600px;
      margin: auto;

      .btn {
        flex: 1;
        text-align: center;
        text-overflow: unset;
        text-wrap: nowrap;
        color: var(--bs-white);
        border-color: var(--bs-white);
      }
    }

    .search-title-wrapper {
      position: relative;
      display: flex;
      gap: 5px;
      justify-content: space-between;
      align-items: baseline;

      .search-title {
        flex: 1;
        max-height: 0px;
        overflow: hidden;
        pointer-events: none;
        user-select: none;
        text-align: center;
        font-size: 3rem;
        font-weight: 900;
        color: var(--bs-white);
        margin-top: 0px;
        text-overflow: unset;
        text-wrap: nowrap;
        opacity: 0;
        transition: all 1.5s ease-in-out;
      }
    }

    .search-card {
      padding: 0px;
      margin-top: 0px;
      background-color: transparent;
      height: calc(100% - 120px);
      max-height: var(--header-search-bar-card-max-height);
      overflow: hidden;
      transition: all 1.5s ease-in-out;

      .inquiry-option-buttons {
        display: flex;
        gap: 10px;
        margin-bottom: 0px;
        height: 100%;
        max-height: 0px;
        overflow: hidden;
        pointer-events: none;
        transition: all 1.5s ease-in-out;

        .btn.inquiry-button {
          color: var(--bs-primary);
          border-color: var(--bs-primary);
          background-color: transparent;
          text-align: center;
          flex: 1;

          &.is-active,
          &:hover {
            color: var(--bs-white);
            border-color: var(--bs-white);
            background-color: var(--bs-primary);
          }
        }
      }

      .search-bar-wrapper {
        display: flex;
        gap: 10px;
        background-color: var(--bs-white);
        padding: 4px 8px;
        border-radius: 10px;
        width: calc(100% - 18px);
        min-height: 0px;
        border: 1px solid var(--bs-gray-500);
        transition: 1.5s ease-in-out;
        user-select: none;

        .search-bar-input {
          all: unset;
          width: 100%;
          color: var(--bs-black);
          font-size: 1rem;
          transition: font-size 1.5s ease-in-out;

          &::placeholder {
            color: var(--bs-gray-400);
            text-align: start;
            margin-right: 5px;
            font-size: 1rem;
          }
        }

        .search-bar-icon {
          padding: 0px 5px;
          color: var(--bs-gray-500);
          transition: 1s ease-in-out;
        }

        &.is-searching {
          background-color: var(--bs-gray-200);
        }

        &:focus-within {
          border-color: var(--bs-icompany-purple-light);

          .search-bar-icon {
            color: var(--bs-icompany-purple-light);
          }
        }
      }

      .search-result-summary {
        background-color: var(--bs-gray-200);
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

        .results {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: flex-start;
          gap: 5px;
          max-height: 200px;
          overflow-y: auto;

          .no-result {
            #placeholder-no-record {
              min-height: unset;

              .no-record-wrapper {
                padding: 20px;

                .title {
                  font-size: 1.5rem;
                }

                .content {
                  font-size: 1.1rem;
                }
              }
            }
          }
        }

        .show-more {
          color: var(--bs-gray-600);
          text-align: center;
          padding: 5px;
        }
      }

      .search-more {
        width: fit-content;
        margin: auto;
        margin-top: 10px;
      }

      .search-bar-notes {
        opacity: 0;
        text-align: center;
        font-size: 0.8rem;
        margin-top: 0px;
        color: var(--bs-secondary);
        max-height: 0px;
        overflow: hidden;
        transition: unset;

        .link {
          text-decoration: none;
          cursor: pointer;
          font-weight: 600;
          color: var(--bs-primary);
        }
      }

      .search-result-wrapper {
        display: none;
        height: calc(100% - 45px);
        overflow: hidden;

        #no-record-placeholder {
          min-height: 400px;
        }
      }

      .search-footnotes {
        display: none;
      }
    }

    .btn {
      &.btn-close {
        pointer-events: none;
        cursor: auto;
        opacity: 0;
        display: block;
        background-color: var(--bs-danger);
        border-color: var(--bs-white);
        color: var(--bs-white);
        width: fit-content;
        min-width: 75px;
        padding: 5px;
        text-align: center;
        margin: auto;
        margin-top: 15px;
        transition: all 1s ease-in-out;
      }
    }
  }

  .header-search-bar-overlay {
    z-index: 1;
    display: none;
    position: fixed;
    background-color: var(--bs-black);
    opacity: 0.75;
    width: 0px;
    height: 0px;
  }

  &.is-open {
    .search-option-buttons {
      max-height: 200px;
      pointer-events: auto;
      transition: all 1s ease-in-out;

      .btn {
        &.is-active {
          background-color: var(--bs-primary);
          transition: all 1s ease-in-out;
        }
      }
    }

    .search-title-wrapper {
      .search-title {
        max-height: 200px;
        margin-top: 15px;
        opacity: 1;
        transition: all 1s ease-in-out;
      }
    }

    .search-content {
      top: 100px;
      border-radius: 10px;
      min-width: 300px;
      width: 80%;
      max-width: 600px;
      transition: all 1s ease-in-out;

      &.is-expanded {
        max-width: 900px;
      }

      .search-card {
        width: calc(100% - 40px);
        background-color: var(--bs-gray-200);
        margin-top: 15px;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        transition: all 1s ease-in-out;

        .search-bar-notes {
          transition: unset;

          &.is-visible {
            transition: all 1s ease-in-out;
            opacity: 1;
            margin-top: 10px;
            max-height: 15px;
          }
        }

        .inquiry-option-buttons {
          margin-bottom: 20px;
          pointer-events: auto;
          max-height: 200px;
          min-height: 30px;
          transition: all 1s ease-in-out;
        }

        .search-bar-wrapper {
          min-height: 25px;
          transition: all 1s ease-in-out;

          .search-bar-icon {
            padding: 5px 0px;
            font-size: 1.5rem;
          }

          .search-bar-input {
            font-size: 1.2rem;

            &::placeholder {
              font-size: 1.2rem;
            }
          }
        }

        .search-result-wrapper {
          &.is-showing {
            display: block;
            max-height: 100%;
          }

          .search-result-saira-notes {
            text-align: center;
            font-size: 0.8rem;
            margin-bottom: 20px;
            color: var(--bs-secondary);
            transition: all 1s ease-in-out;
          }
        }

        .search-footnotes {
          display: block;
          text-align: center;
          height: 20px;
          margin-top: 20px;
          padding-top: 10px;
          border-top: 1px solid var(--bs-gray-400);
          font-size: 0.7rem;
          color: var(--bs-gray-600);
        }

        &.is-reversed {
          flex-direction: column-reverse;
          transition: all 1s ease-in-out;
        }
      }

      .btn {
        &.btn-close {
          pointer-events: auto;
          display: block;
          cursor: pointer;
          opacity: 1;
        }
      }
    }

    .header-search-bar-overlay {
      display: block;
      width: 100dvw;
      height: 100dvh;
      left: 0;
      top: 0;
      transition: all 1s ease-in-out;
    }
  }

  &.is-hidden {
    pointer-events: none;
    user-select: none;
    cursor: auto;
    opacity: 0;
  }

  @media only screen and (max-width: 950px) {
    .search-content {
      width: 220px;
      max-width: 220px;
    }
  }

  @media only screen and (max-width: 768px) {
    &.is-open {
      .search-content {
        top: 50px;
        transition:
          all 0.75s ease-in-out 0.25s,
          top 1s ease,
          left 1s ease,
          transform 1s ease;

        .search-title-wrapper {
          .search-title {
            font-size: 4.5cqw;
          }
        }

        .search-option-buttons {
          .btn {
            font-size: 0.8rem;
            padding: 5px;
          }
        }

        .search-card {
          .search-bar-wrapper {
            transition: all 0.75s ease-in-out 0.25s;
          }
        }
      }
    }

    &:not(.is-open) {
      .search-content {
        transform: translate(-50%, -50%);
        top: unset; // top and left are set by Js
        left: unset;
        width: 25px;
        height: 25px;
        transition:
          top 0.5s ease,
          left 0.5s ease,
          all 1s ease-in-out 0.5s;

        .search-card {
          .search-bar-wrapper {
            color: var(--bs-black);
            background-color: transparent;
            border-color: transparent;
            width: 100%;
            gap: 0px;
            padding: 0px;
            transition: all 1s ease-in-out 0.5s;

            .search-bar-icon {
              color: var(--header-tool-color);
              font-size: 1.75rem;
            }

            .search-input {
              width: 0px;
              overflow: hidden;
              pointer-events: unset;
            }

            .search-bar-input {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}