#headers-user-profile {
  position: relative;

  .page-tool {
    &.user-image-container {
      position: relative;
      cursor: pointer;

      .user-image {
        width: calc(var(--header-item-height) / 2 - 4px);
        height: calc(var(--header-item-height) / 2 - 4px);
        border-radius: 50px;
        border: 2px solid var(--header-tool-color);
        overflow: hidden;

        .loader-container {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        img {
          width: 100%;
          height: auto;
          aspect-ratio: 1 / 1;
          object-fit: cover;
          object-position: center;
        }
      }

      .user-role {
        position: absolute;
        top: calc(var(--header-item-height) / 2 + 5px);
        left: -25%; // check to center this element
        transform: translateX(50%);
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .delivery-dropdown {
    position: absolute;
    z-index: 5;
    width: 250px;
    margin-top: 30px;
    right: 0;
    transform: translate(0%);

    &.empty {
      margin-top: 0;
      width: 150px;
    }

    .orders-container {
      max-height: calc(90dvh - 150px);
      height: 100%;
      overflow-y: auto;

      .order-container {
        position: absolute;
        top: 0px;
        left: 0px;
        width: calc(100% - 30px);
        transition: all 0.5s ease 0.2s;
        $total: 20;

        @for $i from 1 through $total {
          &:nth-child(#{$i}) {
            $x: ($i - 1);
            top: $x * 10px;
            filter: brightness(1 - ($x * 0.05));
            z-index: calc(#{$total} - $i);

            &.view-more-link {
              filter: brightness(1);

              .btn {
                &.btn-view-more {
                  background-color: var(--delivery-buttons-card-bg);

                  &:hover {
                    background-color: var(--btn-primary-hover-bg-color);
                    color: var(--btn-primary-hover-color);
                  }
                }
              }

              @if $i ==1 {
                top: 0px;
              } @else {
                // Your original dynamic calculation for other positions
                top: calc(70px + (10px * (#{$i} - 1)));
              }
            }
          }
        }

        &:nth-child(n + #{$total + 1}) {
          top: calc($total * 10px);
          z-index: -5;
          box-shadow: unset;
          opacity: 0;
        }

        &.empty-card {
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: var(--delivery-buttons-card-bg);
          padding: 15px;
          border-radius: 5px;
          box-shadow: var(--delivery-buttons-card-box-shadow);
          opacity: 0.8;
        }

        &.order-card {
          background-color: var(--delivery-buttons-card-bg);
          padding: 15px;
          border-radius: 5px;
          box-shadow: var(--delivery-buttons-card-box-shadow);
          cursor: pointer;

          .notification-label {
            padding: 5px 10px;
            text-align: center;
            background-color: var(--bs-icompany-purple);
            color: var(--bs-white);
            font-size: 13px;
            margin-bottom: 5px;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
          }

          .company-name {
            background-color: var(--bs-icompany-purple);
            color: var(--bs-white);
            padding: 5px 10px;
            text-align: center;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.5pt;
            margin-bottom: 5px;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
          }

          .sub-label {
            text-align: center;
            font-weight: 600;
            text-overflow: ellipsis;
            text-wrap: nowrap;
            overflow: hidden;
            font-size: 13px;
          }
        }

        .order-label {
          margin-bottom: 10px;
          display: flex;
          gap: 10px;
        }

        &.view-more-link {
          opacity: 1;
        }
      }
    }

    .orders-container {
      &.show-all {
        .order-container {
          @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
              top: 90px * ($i - 1);
              left: 0px;
              width: calc(100% - 30px);
              filter: brightness(1);
              opacity: 1;

              &.view-more-link {
                padding: 0px;
              }
            }
          }
        }
      }
    }

    .view-more-link {
      text-align: center;
      cursor: pointer;
      transition: all 0.5s ease 0.2;
      padding-top: 10px;
      width: calc(100% - 30px);

      .btn {
        width: 100%;
        margin-bottom: 3px;

        &.btn-sub-option {
          width: 20px;
          height: 20px;
          padding: 10px;
          font-size: 2rem;
          font-size: 1.4rem;
          border-radius: 50%;
        }
      }

      .sub-button-wrapper {
        margin-top: 15px;
        width: calc(100% + 30px);
        display: flex;
        gap: 10px;
        justify-content: space-between;
      }

      &:hover {
        font-weight: 600;
      }
    }
  }
}
