.secretarial-service-application {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 30px;

  .service-application {
    width: 60%;
  }

  .document-container {
    width: calc(40% - 30px);

    .resolution-steps {
      margin-top: 0px;
    }
  }
}