#company-service-adopt-common-seal {
  .alert-container {
    max-width: 700px;
    margin: auto;

    .trigger-word {
      font-weight: 600;
    }

    .content {
      text-align: justify;
    }
  }
}