#company-services-help {
  position: relative;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 3;

  .help-button {
    cursor: pointer;
    color: var(--bs-icompany-purple);
    transition: all 0.7s ease;

    &:hover {
      color: var(--bs-icompany-purple-lighter);
    }

    i {
      font-size: 2rem;
    }
  }

  .post-it {
    position: relative;
    width: 300px;
    padding: 15px;
    border-radius: 5px;
    background-color: var(--bs-yellow-light);
    height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: all 0.7s ease;

    &.show {
      height: fit-content;
      opacity: 1;
      transform: scaleY(1);
    }

    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      font-size: 1.5rem;
    }

    .title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .content {
      text-align: justify;

      ul, ol {
        padding-left: 1rem;
      }
    }
  }
}
