#company-services-option-buttons {
  width: 100%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;

  .option-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .btn {
      width: 180px;
      position: relative;
    }

    .btn-hover-label {
      position: absolute;
      top: calc(100% + 5px);
      left: 50%;
      transform: translateX(-50%);
      font-size: 0.8rem;
      text-align: center;
      white-space: nowrap;
      color: var(--btn-hover-label-color);
    }
  }

  @media (max-width: 768px) {
    .option-buttons {
      width: calc(100% - 60px);
      padding: 0px 30px;
      gap: 5px;

      .btn:not(.option-button-dropdown .btn) {
        max-width: 180px;
        flex: 1;
        min-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .option-button-dropdown {
        max-width: 180px;
        flex: 1;
        min-width: 50px;

        .btn {
          width: calc(100% - 10px);
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .previous-application {
    font-size: 0.8rem;
    text-align: center;
  }
}
