#company-service-terms-of-reference {
  width: 100%;
  margin: auto;

  .alert-container {
    max-width: 600px;
    margin: auto;
    margin-top: 30px;

    .tooltip-trigger {
      font-weight: bold;

      &:hover {
        color: var(--bs-icompany-blue);
      }
    }
  }
}