#legal-document-notice-transfer-of-share-proposal {
  .paper {
    &.print {
      padding: 20mm;
    }
  }
}

.notice-of-share-transfer {
  .company-name {
    font-weight: bold;
    text-transform: uppercase;
  }

  .letter-head {
    padding: 10px;
    text-align: center;
  }

  .document-date {
    padding-bottom: 10px;
    font-weight: bold;

    &.placeholder {
      font-weight: normal;
      color: var(--bs-gray-500);
      font-style: italic;
    }
  }

  .date {
    &.placeholder {
      font-weight: normal;
      color: var(--bs-gray-500);
      font-style: italic;
    }
  }

  .title-address {
    padding-bottom: 15px;
  }

  .attention-to {
    padding-bottom: 15px;
    font-weight: bold;
  }

  .greeting {
    padding-bottom: 10px;
  }

  .title {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--bs-black);
    text-transform: none;
    font-weight: 600;
    letter-spacing: 0.1pt;
  }

  .content {
    p {
      text-align: justify;
    }

    .form-check {
      padding-bottom: 5px;
    }

    .notice-table {
      width: 170mm;
      max-width: 170mm;
      position: relative;

      thead {
        tr {
          td {
            padding: 5px;
            text-align: center;
            font-weight: 600;
          }
        }
      }

      tbody {
        tr {
          td {
            position: relative;
            padding: 5px;
            width: calc(70mm - 10px);
            max-width: 70mm;

            &:last-child {
              width: calc(30mm - 10px);
              max-width: 30mm;
            }

            .form-control {
              width: calc(100% - 10px);
            }

            input[type=text] {
              width: calc(100% - 26px);
              text-align: right;
            }
          }
        }
      }
    }

    .add-more {
      cursor: pointer;
      color: var(--bs-icompany-blue);
    }

    .remove {
      position: absolute;
      top: 10px;
      right: -20px;
      cursor: pointer;
      color: var(--bs-danger);
    }
  }

  .signature-container {
    width: 40%;

    .sign-off {
      width: 100%;
    }
  }

  .divider {
    margin: 10px 0;
    height: 2px;
    border-top: solid 2px var(--bs-black);
  }

  .notice-acknowledged {
    .acknowledge-title {
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    .acknowledge-content {
      margin-bottom: 5px;
    }
  }
}