#legal-documents-notification-of-beneficial-ownership {
  // Styles go here
}

.notification-of-bo {

  div,
  td,
  span {
    font-size: 13px;
    line-height: 15px;
  }

  .notice-header {
    width: 100%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    background-color: var(--bs-ssm-dark-gray);
    margin-bottom: 20px;
  }

  .notice-subheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    .notice-subheader-detail {
      background-color: var(--bs-ssm-light-gray);

      &.division {
        padding: 5px;
      }

      .submission-detail {
        border-collapse: collapse;

        tbody {
          tr {
            td {
              padding: 5px;
              background-color: var(--bs-ssm-light-gray);
              border: 1px solid var(--bs-ssm-light-gray);

              &:nth-child(2) {
                width: 100px;
              }
            }
          }
        }
      }
    }
  }

  .notification-of-bo-table {
    border-collapse: collapse;
    margin: 10px 0;

    thead {
      tr {
        td {
          text-align: center;
          font-weight: 600;
          background-color: var(--bs-ssm-mid-gray);
          border: 1px solid var(--bs-ssm-mid-gray);
          padding: 5px;
        }
      }
    }

    tbody {
      tr {
        td {
          border: 1px solid var(--bs-ssm-mid-gray);
          text-transform: uppercase;
          padding: 5px;
          font-size: 12px;
          vertical-align: top;

          &:first-child {
            width: 35%;
            border-left-color: var(--bs-ssm-mid-gray);
          }

          &:nth-child(3) {
            width: 25%;
          }

          &.email {
            text-transform: lowercase;
          }

          .explanation {
            text-transform: none;
          }
        }
      }
    }

    &.acknowledgement {
      thead {
        tr {
          td {
            text-align: left;
          }
        }
      }

      tbody {
        tr {
          td {
            &:first-child {
              background-color: var(--bs-ssm-mid-gray);
            }

            &.declaration {
              color: var(--bs-ssm-dark-gray);
              background-color: var(--bs-white);
            }

            &.attention-notice {
              background-color: var(--bs-white);
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  .notice-page-number {
    position: absolute;
    bottom: -10mm;
    right: 0mm;
    width: 100%;
    background-color: var(--bs-ssm-mid-gray);
    color: var(--bs-black);
    padding: 5px;

    .ssm-name {
      position: absolute;
      left: 5px;
      top: 4px;
      color: var(--bs-white);
      font-size: 12px;
      font-weight: 600;
    }

    .page-number {
      width: 100%;
      text-align: center;
      font-size: 12px;
    }
  }
}