#services-change-of-name-application {
  .actions-button-options {
    display: inline-block;
    margin-left: 10px;

    .btn {
      width: 200px;

      .label {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }

      &.name-option {
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }
    }
  }

  .node-actions {
    .actions-button-options {
      .btn {
        width: 100px;
      }

      .btn-submit {
        &:disabled {
          background-color: var(--bs-white);
        }
      }
    }
  }

  .application-details {
    margin-top: 10px;

    .application-label {
      font-weight: 600;
    }
  }
}