#services-change-of-name-application {
  .actions-button-options {
    display: inline-block;
    margin-left: 10px;

    .btn {
      width: 200px;
    }
  }

  .node-actions {
    .actions-button-options {
      .btn {
        width: 100px;
      }

      .btn-submit {
        &:disabled {
          background-color: var(--bs-white);
        }
      }
    }
  }
}