#services-document-request-application {
  ol {
    margin: 5px 0;
    padding-left: 15px;

    li {
      padding-bottom: 3px;
    }
  }

  span {
    &.clickable {
      cursor: pointer;
      transition: all 0.7s ease;

      &:hover {
        color: var(--bs-icompany-blue);
      }
    }
  }
}