#companies-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 30px;

  .company-overview-section {
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);

    .overview-title {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    .overview-table {
      width: 100%;

      tbody {
        tr {
          td {
            vertical-align: top;
            padding: 2px 5px;

            &:first-child {
              padding-left: 0;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}