.company-sdn-bhd {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  .logo {
    width: 100px;
    height: 100px;
    background-color: var(--bs-white);
    border-radius: 5px;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: contain;
    }

    &.no-logo {
      img {
        opacity: 0.5;
        filter: grayscale(1);
      }
    }
  }

  .name-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;

    .company-name {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 1.8rem;
      cursor: pointer;

      .notification {
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: var(--bs-icompany-orange-dark);
      }

      .registration-numbers {
        font-weight: normal;
        font-size: 1.1rem;
      }
    }

    .action-buttons {
      justify-content: flex-start;
    }
  }
}