#company-selected-sdn-bhd {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 50px;

  .company-details {
    width: calc(50% - 25px);

    .name-logo {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      .logo {
        width: 100px;
        height: 100px;
        background-color: var(--bs-white);
        border-radius: 5px;

        img {
          width: 100%;
          height: auto;
          aspect-ratio: 1/1;
          object-fit: contain;
        }
      }

      .name-registration-numbers-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: calc(100% - 130px);


        .name-registration-number {
          .company-name {
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.8rem;
          }

          .registration-numbers {
            font-weight: normal;
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  .document-containter {
    width: calc(50% - 25px);
  }
}