#dcr-appointment-of-new-company-secretary {

  .input-group-text,
  .input-group-dual-text {
    border-color: var(--bs-gray-400);
    border-width: 1px;
  }

  .company-detail-head {
    width: 60%;
    margin: auto;

    .company-registration-number {
      .input-group-dual-text {
        width: 70%;
        margin: auto;

        input[type=text] {
          text-align: center;
        }
      }
    }
  }

  .resolution-content {
    .prev-cosec-details {
      &.placeholder {
        color: var(--bs-gray-400);
      }
    }
  }
}