#dcr-change-of-registered-addresses {
  .address-inputs {
    width: 50%;
  }

  .address {
    &.placeholder {
      color: var(--bs-gray-500);
      background-color: var(--bs-gray-100);
      border-radius: 5px;
      max-width: 30%;
      padding: 5px;
      line-height: 18px;
    }
  }
}