#mcr-share-authorization {
  .form-check {
    margin-top: 3px;
  }

  .paper-tag {
    width: 120px;
    left: -25mm;
  }

  .purpose-tag {
    top: 550px
  }

  .authorised-tag {
    top: 255px;
  }

  .effective-date-tag {
    top: 485px;
  }
}