@keyframes pulse-core {
  0% {
    transform: scale(1) translate(-75%, -25%);
  }

  50% {
    transform: scale(1.05) translate(-75%, -25%);
  }

  100% {
    transform: scale(1) translate(-75%, -25%);
  }
}

@keyframes pulse-ring {
  0% {
    transform: scale(0.6);
    opacity: 0.7;
  }

  70% {
    transform: scale(1.25);
    opacity: 0;
  }

  100% {
    transform: scale(1.25);
    opacity: 0;
  }
}

@keyframes pulse-ring-lg {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }

  70% {
    transform: scale(1.5);
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes button-submit-loading-animation {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow:
      -14px 0 0 rgba(0, 0, 0, 0.8),
      14px 0 0 rgba(0, 0, 0, 0.2);
  }

  33% {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow:
      -14px 0 0 rgba(0, 0, 0, 0.2),
      14px 0 0 rgba(0, 0, 0, 0.2);
  }

  66% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow:
      -14px 0 0 rgba(0, 0, 0, 0.2),
      14px 0 0 rgba(0, 0, 0, 0.8);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow:
      -14px 0 0 rgba(0, 0, 0, 0.8),
      14px 0 0 rgba(0, 0, 0, 0.2);
  }
}

@keyframes step-alert-expand {
  0% {
    max-height: 0;
  }

  90% {
    max-height: 500px;
  }

  100% {
    max-height: 100%;
    opacity: 1;
    overflow: unset;
  }
}

@keyframes step-content-expand {
  0% {
    max-height: 0;
  }

  90% {
    max-height: 500px;
  }

  100% {
    opacity: 1;
    max-height: 100%;
    overflow: unset;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes zoom-in {
  0% {
    scale: 0.5;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes incorporation-alert-expand {
  0% {
    max-height: 0;
  }

  90% {
    max-height: 500px;
  }

  100% {
    max-height: 100%;
    opacity: 1;
    overflow: unset;
  }
}

@keyframes incorporation-step-content-expand {
  0% {
    max-height: 0;
  }

  90% {
    max-height: 500px;
  }

  100% {
    opacity: 1;
    max-height: 100%;
    overflow: unset;
  }
}

@keyframes step-alert-expand {
  0% {
    max-height: 0;
  }

  90% {
    max-height: 500px;
  }

  100% {
    max-height: 100%;
    opacity: 1;
    overflow: unset;
  }
}

@keyframes step-content-expand {
  0% {
    max-height: 0;
  }

  90% {
    max-height: 500px;
  }

  100% {
    opacity: 1;
    max-height: 100%;
    overflow: unset;
  }
}

@keyframes post-it-note-fade-up {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes move-panel-to-right {
  100% {
    transform: translateX(300%);
    opacity: 0;
  }
}

@keyframes move-panel-to-left {
  100% {
    transform: translateX(-300%);
    opacity: 0;
  }
}

@keyframes shake-kb {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateY(-4px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateY(4px);
  }
}

@keyframes text-fade-in-out {
  0% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  70% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}

@keyframes send-to-back {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  99% {
    opacity: 0.01;
  }

  100% {
    opacity: 0;
    z-index: -99;
  }
}

@keyframes bring-to-front {
  0% {
    opacity: 0;
  }

  1% {
    opacity: 0.1;
    z-index: 11;
  }

  50% {
    opacity: 0.5;
    z-index: 11;
  }

  100% {
    opacity: 1;
    z-index: 11;
  }
}
