$sm: 5px;
$md: 10px;
$lg: 15px;
$xl: 20px;

.padding-sm {
  padding: $sm;
}

.padding-left-sm {
  padding-left: $sm;
}

.padding-right-sm {
  padding-right: $sm;
}

.padding-bottom-xl {
  padding-bottom: $xl;
}