.large-title {
  span {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;

    &.text-gray {
      color: var(--large-title-text-gray);
    }

    &.text-purple {
      color: var(--large-title-text-purple);
    }
  }
}

.medium-title {
  span {
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 700;

    &.text-gray {
      color: var(--large-title-text-gray);
    }

    &.text-purple {
      color: var(--large-title-text-purple);
    }
  }
}

.strikedthrough {
  text-decoration: line-through;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-orange {
  color: var(--bs-orange);
}

.text-success {
  color: var(--bs-icompany-green);
}