.auth-layout {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(73, 31, 70, 1));

    .image-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
        filter: opacity(25%) grayscale(1);
        background-size: cover;
        background-position: center;
        background-image: var(--bg-url);
    }

    .color-overlay {
        background: linear-gradient(to right, var(--bs-icompany-purple), rgba(73, 31, 70, 0.8));
        position: absolute;
        top: 0;
        left: 0;
        width: 100dvw;
        height: 100dvh;
    }

    .page-content {
        z-index: 2;
    }
}