.step-ekyc-citizenship {
  display: contents;

  .body {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1.5rem;
  }

  .step-content {
    text-align: start;
    width: 100%;

    &.step-title {
      margin-bottom: 0;
    }
  }

  .checkbox-wrapper {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    width: 100%;
    align-items: center;

    &.citizenship-option {
      margin-top: 0;
    }

    input[type="checkbox"] {
      cursor: pointer;
      min-width: 16px;
    }

    label {
      cursor: pointer;
      margin: 0;
    }
  }

  @media (max-width: 768px) {
    .checkbox-wrapper {
      align-items: start;
      gap: 10px;

      input {
        margin-top: 5px;
      }

      label {
        text-align: justify;
      }
    }
  }
}
