#access-user-management-current-users {
  width: 100%;

  .notification {
    width: 100%;
  }

  .access-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

    .all-users {
      width: 100%;
      flex: 1;
      transition: flex 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

      &.show-access {
        flex: 0.2;
        max-width: calc(20% - 15px);
        min-width: 160px;
      }
    }

    .access-manager {
      flex: 0;
      opacity: 0;
      /* clip-path: inset(0 100% 0 0); */
      transition:
        flex 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
        opacity 0.3s ease 0.2s,
        clip-path 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

      &.show {
        opacity: 1;
        flex: 0.8;
        /* clip-path: inset(0 0 0 0); */
      }

      &.hide {
        flex: 0;
        opacity: 0;
        height: 0px;
        overflow: hidden;
        pointer-events: none;
        user-select: none;
        transition:
          flex 0.5s cubic-bezier(0.25, 0.8, 0.25, 1),
          opacity 0.1s ease,
          clip-path 0.5s cubic-bezier(0.25, 0.8, 0.25, 1) 0.5s;
        /* clip-path: inset(0 100% 0 0); */
      }

      .title-close {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;

        .title {
          font-weight: 600;
          font-size: 15px;
          text-align: left;

          .subtitle {
            font-weight: normal;
            font-size: 13px;

            .role-name {
              &.removable {
                cursor: pointer;

                &:hover {
                  font-weight: 600;
                }
              }
            }

            .assign-another-role {
              font-size: 12px;
              color: var(--bs-icompany-blue);
              cursor: pointer;

              &:hover {
                font-weight: 600;
              }
            }
          }
        }

        .btn-close-access {
          font-size: 14px;
          cursor: pointer;
        }
      }

      .action-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 768px) {
    .access-content {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .all-users {
        flex: 1;
        width: 100%;

        &.show-access {
          flex: 1;
          max-width: 100%;
        }
      }

      .access-manager {
        width: 100%;
        height: auto;
        flex: 1;
        border-left: none;
        padding: 20px 15px;
      }
    }
  }

  &.darkmode {
    .access-content {
      .access-manager {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}