#page-incorporation {
  width: 90%;
  max-width: 800px;
  margin: auto;

  .incorporation-content {
    position: relative;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 150px;

    .prepare-content-loader {
      min-height: calc(70dvh - 200px);
    }

    .user-profile-container {
      background-color: var(--incorporation-promoter-background-color);
      border-radius: 5px;
      padding: 30px;
      width: calc(100% - 60px);
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      gap: 30px;
      opacity: 0;
      transition: all 1s ease;

      &.show {
        opacity: 1;
      }

      .user-profile-image {
        width: 100px;
        height: 100px;
        min-width: 100px;
      }

      .promoter-description {
        flex: 1;
        min-width: 0;

        .user-name {
          width: 100%;
          color: var(--bs-white);
          font-size: 2.5rem;
          line-height: 2.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;
          font-weight: bold;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .user-role {
        color: var(--bs-gray-400);
        font-size: 1.8rem;
        cursor: pointer;

        i {
          font-size: 1.5rem;
        }

        &:hover {
          color: var(--bs-orange);

          i {
            color: var(--bs-orange);
          }
        }
      }

      .user-description {
        height: fit-content;
        max-height: 0px;
        font-size: 1.2rem;
        text-align: justify;
        color: var(--bs-gray-500);
        overflow: hidden;
        transition: all 0.7s ease-in-out;

        &.show {
          max-height: 100px;
        }
      }
    }

    .promoter-declaration-container {
      background-color: var(--incorporation-promoter-background-color);
      border-radius: 5px;
      padding: 30px;
      width: calc(100% - 60px);
      margin: auto;
      gap: 30px;
      transition: all 1s ease;

      .declaration-title {
        color: var(--bs-white);
        font-size: 1.2rem;
        line-height: 1.2rem;
        font-weight: 600;
      }

      .declaration-description {
        margin-top: 15px;
        color: var(--bs-white);
        font-size: 1rem;
        line-height: 1rem;
        display: flex;
        gap: 10px;

        ol {
          padding-left: 1rem;

          li {
            margin-bottom: 5px;
            padding-left: 5px;
          }
        }

        .declaration-checkbox {
          font-size: 1.25rem;
          color: var(--bs-icompany-purple-lightest);
        }
      }

      &.show {
        opacity: 1;
      }
    }

    .incorporation-steps {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 650px;
      margin: auto;
      height: 0;
      transform: scaleY(0);
      opacity: 0;
      transform-origin: top;
      transition: all 0.5s ease;

      &.show {
        height: auto;
        transform: scaleY(1);
        opacity: 1;
      }

      .incorporation-step {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @for $i from 1 through 7 {
          &:nth-child(#{$i}) {
            z-index: #{20 - $i};
          }
        }

        .incorporation-step-wrapper {
          width: calc(100% - 80px);
          padding: 30px 40px;
          transition: all 1s ease;

          .step {
            font-size: 1.5rem;
            font-weight: 600;
            letter-spacing: 0.1pt;
            text-transform: uppercase;
            color: var(--incorporation-page-title-color);
            opacity: 0.8;
          }

          .step-name-help {
            position: relative;
            margin-bottom: 20px;
            transition: all 1s ease 0.5s;

            .step-name {
              font-weight: bold;
              font-size: 2rem;
              line-height: 38px; // Height of help container
              letter-spacing: 0.1pt;
              text-transform: uppercase;
              width: calc(100% - 50px);
              color: var(--incorporation-page-title-color);
              opacity: 0.7;
            }

            .help-container {
              position: absolute;
              top: 0;
              right: -365px; //Help button size + gap
              transition: opacity 1s ease;
            }
          }

          .delete-button {
            position: absolute;
            top: 10px;
            right: -10px;
            width: 20px;
            height: 20px;
            background-color: var(--bs-danger);
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            i {
              font-size: 14px;
              color: var(--bs-white);
            }
          }

          .alert-container {
            .help-button-container {
              position: absolute;
              right: -355px;
              top: 10px;

              @media (max-width: 1300px) {
                display: none;
              }
            }
          }

          .alert-container,
          .step-content-container {
            opacity: 0;
            max-height: 0;
            overflow: hidden;

            animation-duration: 3s;
            animation-timing-function: ease;
            animation-delay: 3s;
            animation-fill-mode: forwards;
            animation-name: none;
          }

          .alert-container {
            animation-name: incorporation-alert-expand;
          }

          .step-content-container {
            animation-name: incorporation-step-content-expand;
          }

          &.active {
            background-color: var(--incorporation-step-active-bg-color);
            border-radius: 5px;
          }

          &.is-complete {
            background-color: var(--incorporation-step-active-bg-color);
            border-radius: 5px;

            .step {
              opacity: 1;
            }

            .step-name-help {
              .step-name {
                opacity: 1;
              }
            }
          }
        }

        .instruction-container {
          padding-top: 20px;
          font-size: 1.1rem;
          line-height: 1.1rem;
          font-weight: 600;
          text-align: justify;

          .add-more {
            color: var(--bs-icompany-blue);
            padding-left: 5px;
            cursor: pointer;
          }
        }
      }
    }

    #incorporation-step-five {
      .business-address {
        .checkbox-container {
          display: flex;
          align-items: center;
          gap: 15px;
          margin: 15px 0px;

          .criterion-details {
            .criterion-label {
              display: flex;
              gap: 5px;
              align-items: center;

              .criterion-badge {
                font-size: 0.8rem;
                padding: 2px 10px;
                background-color: var(--bs-orange);
                color: var(--bs-white);
                border-radius: 7px;
                font-weight: bold;
              }
            }
          }
        }

        .icompany-business-address {
          padding: 15px;
          background-color: var(--bs-white);
          border-radius: 5px;

          .title {
            margin: 0;
            font-weight: bold;
          }

          .notes {
            margin: 0;
            font-weight: 300;
          }
        }
      }
    }

    .incorporation-step-six {
      .responsibility-container {
        margin-bottom: 45px;
      }
    }
  }

  @media (max-width: 768px) {
    width: calc(100% - 20px);

    .incorporation-content {
      .user-profile-container {
        padding: 20px;
        gap: 20px;
        width: calc(100% - 40px);

        .promoter-description {
          .user-name {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
      }

      .promoter-declaration-container {
        padding: 20px;
        width: calc(100% - 40px);
      }

      .incorporation-steps {
        .incorporation-step {
          .incorporation-step-wrapper {
            width: calc(100% - 30px);
            padding: 30px 15px;
          }
        }
      }
    }
  }
}