#my-sdn-bhd {
  position: relative;
  width: 100%;
  margin: auto;

  .sdn-bhd-loader,
  .prepare-content-loader {
    width: 100%;
    min-height: calc(100dvh - 200px); // Header and bottom spacing
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .option-buttons {
    width: 100%;
    max-height: 26px;

    .btn {
      width: 180px;
    }

    &.dropdown-active {
      max-height: fit-content;
    }
  }

  .option-button-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    height: 26px;

    &.dropdown-show {
      max-height: fit-content;
    }

    .btn-option {
      position: relative;
      text-align: center;

      .option-label {
        display: block;
        width: calc(100% - 40px);
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }

      .caret {
        position: absolute;
        top: 5px;
        right: 7px;
        transition: all 0.7s ease;

        &.hide {
          transform: rotate(-180deg);
        }
      }
    }

    .btn-sub-option {
      opacity: 1;
      height: auto;
      transform-origin: top;
      z-index: 5;
      transition: all 0.3s ease-in-out;

      &:not(.show) {
        opacity: 0;
        pointer-events: none;
      }

      .sub-option-label {
        display: block;
        width: calc(100% - 20px);
        margin: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
      }
    }
  }

  .sdn-bhd-content {
    padding-top: 50px; // option-buttons height
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 350px);

    .option-buttons {
      position: relative;
    }
  }

  @media (max-width: 768px) {
    .option-buttons {
      width: calc(100% - 60px - var(--scrollbar-width));
      padding: 0px 30px;
      gap: 5px;

      .btn:not(.option-button-dropdown .btn) {
        max-width: 180px;
        flex: 1;
        min-width: 50px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .option-button-dropdown {
        max-width: 180px;
        flex: 1;
        min-width: 50px;

        .btn {
          width: calc(100% - 10px);
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

#my-sdn-bhd-service {
  .option-buttons {
    .btn {
      min-width: 180px;
    }
  }
}