#popup-class-rights-no-constitution-alert {
  .body {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    .action {
      font-size: 1.1rem;
      line-height: 1.3rem;
      text-align: center;
    }
  }
}