#popups-name-reservation-rejected {
  //
}

.popup-details {
  .form-group {
    .label {
      width: 120px;
      text-align: start;
    }

    .form-control {
      width: calc(100% - 140px);
      resize: vertical;
    }
  }
}