#popup-purchase-corporate-profile {
  position: relative;
  z-index: 6; //arbitrary number

  .body {
    .third-party-name {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }
}