// #popups-ship-application {
//   // Styles go here
// }

.popup {
  .popup-content {
    .popup-details {
      .body {
        .form-group {
          width: 90%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 10px;

          .label {
            font-size: 1.1rem;
            display: inline-block;
            width: 150px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}