// #popups-upload-document {
//   //
// }

.popup {
  .popup-content {
    .popup-details {
      .body {
        .drop-zone {
          width: calc(100% - 24px);
          height: 200px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 5px;
          border: 1px dashed var(--bs-icompany-purple);
          transition: all 1s ease;
          cursor: pointer;

          .icon {
            font-size: 5rem;
            color: var(--bs-icompany-purple);
            opacity: 0.5;
            transition: all 1s ease;
          }

          &:hover {
            border-radius: 10px;
            border-width: 3px;
            border-color: var(--bs-icompany-purple-light);

            .icon {
              opacity: 1;
            }
          }
        }

        .hidden {
          display: none;
        }
      }
    }
  }
}