#transaction-history {
  padding-bottom: 100px;
  
  .transaction-history-observer {
    height: 15px;
  }

  .icon-primary {
    color: var(--bs-primary);
  }

  .transaction-loader-wrapper {
    width: 100%;
    min-height: calc(100dvh - 300px); // Header and bottom spacing
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}