.director {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .name {
    color: var(--director-name);
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.1pt;
    font-weight: bold;
    text-transform: capitalize;
    width: 100%;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
    text-align: center;
  }

  .appointment {
    text-align: center;
    font-size: 1.2rem;

    .appointment-date {
      margin-top: 5px;
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.1pt;
    }

    .application-status {
      margin-top: 5px;
      height: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 0.9cqh;
      background-color: var(--bs-icompany-purple);
      color: var(--bs-white);
      padding: 2px 10px;
      border-radius: 5px;
    }
  }

  .profile-image-container {
    position: relative;
    width: 210px;
    height: 210px;
    cursor: pointer;

    .user-profile-image {
      width: 200px;
      height: 200px;
    }

    &.in-progress {
      .user-profile-image {
        position: relative;

        &::after {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          content: ' ';
          background-color: var(--bs-icompany-purple);
          opacity: 0.5;
        }

        img {
          opacity: 0.7;
        }
      }
    }

    .activity-in-progress {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      border-radius: 20px 0 0 20px; // Border radius on left side only. 50% of the left padding
      padding: 10px 10px 10px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      &.appointment {
        background-color: var(--bs-icompany-green-light);
        color: var(--bs-white);
      }

      &.resignation {
        background-color: var(--bs-icompany-orange-light);
        color: var(--bs-white);
      }

      .highlight {
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 0.1pt;
      }
    }
  }
}