#banks-branch-dropdown {
  display: inline-block;

  .searchable-dropdown {
    min-width: 150px;
    width: 200px;
    padding: 0px 5px;
    border-bottom: 1px solid var(--bs-black);

    .dropdown {
      &.selected {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &:hover {
          background-color: transparent;
        }

        .label {
          text-overflow: ellipsis;
          text-wrap: nowrap;
          overflow: hidden;
        }

        .fa-caret-down {
          transition: all 0.7s ease;

          &.rotate {
            transform: rotate(-180deg);
          }
        }

        &.placeholder {
          .label {
            color: var(--bs-gray-500);
          }
        }
      }
    }

    .dropdown-menu {
      top: 100%;
      right: 0;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
      overflow: hidden;

      &.show {
        overflow: auto;
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
        transition: background 0.3s ease;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background: rgba(0, 0, 0, 0.2); // Visible thumb
        }

        scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
      }

      .dropdown-menu-group-title {
        margin-top: 20px;
        padding: 5px 10px;
        background-color: var(--bs-gray-200);
        cursor: default;
        font-weight: 600;

        &:nth-child(2) {
          margin-top: 0px;
        }
      }

      .dropdown-item {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;

        &:has(.form-control) {
          padding: 0px;
          text-overflow: none;
          text-wrap: wrap;
          overflow: hidden;

          &:hover {
            background-color: transparent;
          }
        }

        .form-control {
          width: calc(100% - 12px);
          padding: 5px;
          border-radius: 5px;
        }
      }
    }

    &.wide {
      min-width: 450px;

      .dropdown-menu {
        min-width: 450px;
      }
    }

    &.disabled {
      width: fit-content;
      max-width: unset;
      min-width: unset;
      display: inline-block;

      .dropdown {
        cursor: default;
        pointer-events: none;
        display: inline-block;

        &.selected {
          display: inline-block;
          text-align: center;
          width: fit-content;
        }
      }
    }
  }
}