.sanction-warning {
  max-width: 700px;
  margin: auto;
  margin-bottom: 30px;

  ul {
    padding-left: 15px;
  }

  .contact-info {
    border-top: 1px solid var(--bs-warning);
    margin-top: 15px;
    padding-top: 15px;
  }
}
