#centre-stage-to-do-documents {
  width: 100%;
  height: 100%;
  max-width: 600px;
  // margin-left: auto;
  // margin-right: -25px;
  position: relative;
  display: flex;
  gap: 15px;
  align-self: center;

  .documents {
    position: relative;
    width: calc(100% - 30px);
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0px;
    perspective: 1200px; // Enable 3D perspective for card tilt effect

    .document {
      width: 100%;
      height: 90%;
      position: absolute;
      top: 0;
      left: 0px;
      transform-origin: top;
      transition: all 0.7s ease;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .action-buttons {
      position: absolute;
      bottom: 20px;
      width: calc(100% - 30px);
      padding: 0 15px;
      z-index: 6;
    }
  }

  .empty-to-do-list {
    margin: auto;
    width: 75%;
    height: calc(100% - 40px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .emphasis {
      font-size: 2.6rem;
    }

    .subnote {
      font-size: 1.6rem;
    }

    .ask-saira {
      color: var(--bs-icompany-purple);
      font-weight: bold;
      cursor: pointer;
      font-size: 1.6rem;
      transition: all 0.7s ease;

      &:hover {
        color: var(--bs-icompany-blue);
      }
    }
  }

  .bubble-pagination {
    margin: auto;
  }

  @media (min-width: 990px) {
    .documents {
      &.is-grid-mode {
        gap: 0px;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        padding: 15px;
        width: 570px;
        height: 450px;

        .document {
          position: relative;
          display: none;
          transform: none;
          opacity: 0;
          height: 0;
          z-index: -1;
          box-shadow: none;

          &.is-visible {
            opacity: 1;
            display: block;
            width: 100%;
            height: 100%;
            z-index: auto;
          }
        }

        .action-buttons {
          display: none;
        }
      }
    }
  }

  @media (max-width: 990px) {
    max-width: unset;
    margin-left: 0px;
    margin-right: 0px;

    .documents {
      width: 100%;
    }
  }
}